[submodule "packs/gasvillage"]
	path = packs/gasvillage
	url = https://github.com/jjgarzella/gasvillage-pack.git
[submodule "packs/latex-utils"]
	path = packs/latex-utils
	url = https://github.com/jjgarzella/latex-utils-pack.git
[submodule "packs/labtech"]
	path = packs/labtech
	url = https://github.com/jjgarzella/labtech-pack.git
[submodule "packs/argos"]
	path = packs/argos
	url = https://github.com/jjgarzella/argos-pack.git
